# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.env/
.venv/

# OS
.DS_Store
Thumbs.db

# Local DBs
*.sqlite
*.db
*.db-journal

# Flask instance
instance/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

*.rar
*.md
